<nz-layout class="layout">

  <nz-header>
    <div class="header-title">AntAngularDemo</div>
  </nz-header>

  <nz-layout class="layout-container">
    <nz-sider [nzWidth]="200">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu *ngFor="let menu of menus">
          <span title><i class="anticon anticon-{{menu.icon}}"></i>{{menu.title}}</span>
          <ul>
            <li nz-menu-item *ngFor="let item of menu.items">{{item.title}}
              <a routerLink={{item.url}}></a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>

    <nz-layout class="layout-content">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>

  </nz-layout>

</nz-layout>